@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.icon {
  text-align: center;
}

.social-icon {
  margin: 20px 20px;
  font-size: 1.5em;
  color: white;
}

.social-icon:hover {
  color: rgb(208, 197, 197);
  transform: scale(1.1);
}

.fa-twitter:hover {
  color: #0ab1ce;
}

.fa-facebook-f:hover {
  color: #4267b2;
}

.fa-instagram:hover {
  background: linear-gradient(
    to right,
    #405de6,
    #5b51d8,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d,
    #f56040,
    #f77737,
    #fcaf45,
    #ffdc80
  );
  border-radius: 70%;
}

.fa-envelope:hover {
  color: #ea4335;
}

.fa-linkedin:hover {
  color: #0077b5;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.44, rgb(122, 153, 217)),
    color-stop(0.72, rgb(73, 125, 189)),
    color-stop(0.86, rgb(28, 58, 148))
  );
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  font-family: "Raleway", sans-serif;
  background: white;
}

/* header */
header {
  font-family: "Poppins", sans-serif;
  font-size: 2.2rem;
  font-weight: 600;
  text-align: center;
  margin: 1rem 0;
  color: whitesmoke;
  text-transform: uppercase;
  font-weight: 700;
  background-color: rgb(0, 107, 195);
  background-image: radial-gradient(
      at 11% 84%,
      rgb(57, 156, 209) 0px,
      transparent 50%
    ),
    radial-gradient(at 77% 15%, rgb(32, 57, 168) 0px, transparent 50%);
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 40px;
  border-radius: 5px;
  text-align: left;
  padding: 10px;
  letter-spacing: 0.2rem;
  position: sticky;
  top: 0;
  z-index: 100;
  animation: myfirst 0.5s linear 0s 1 alternate;
}
@keyframes myfirst {
  0% {
    left: 0px;
    top: 1000px;
  }
  50% {
    left: 85px;
    top: 500px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}

section {
  height: 100vh;
}

/* image slider */

/* .img-slider {
  position: relative;
  width: 800px;
  height: 500px;
  margin: 10px;
  background: #1d212b;
}

.img-slider .slide {
  z-index: 1;
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);
}

.img-slider .slide.active {
  clip-path: circle(150% at 0 50%);
  transition: 2s;
  transition-property: clip-path;
}

.img-slider .slide img {
  z-index: 1;
  width: 100%;
  border-radius: 5px;
}

.slide:hover img {
  color: #000;
  backdrop-filter: blur(15px);
  filter: blur(10px);
  transition: .6s ease-in-out;
} */

.info {
  position: absolute;
  top: 0;
  padding: 15px 30px;
  text-align: center;
}

.info h2 {
  margin: 5px;
  padding: 10px;
  color: #fff;
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
}

.info p {
  color: #fff;
  background: rgba(0, 0, 0, 0.1);
  margin: 15px 5px 5px 100px;
  font-size: 16px;
  width: 70%;
  line-height: 20px;
  letter-spacing: 1.5px;
  word-spacing: 3px;
  padding: 10px;
  border-radius: 4px;
  text-align: left;
}

/*
.img-slider .navigation {
  z-index: 2;
  position: absolute;
  display: flex;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
}

.img-slider .navigation .btn {
  background: rgba(255, 255, 255, 0.5);
  width: 12px;
  height: 12px;
  margin: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.img-slider .navigation .btn.active {
  background: #2696e9;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
} */

@media (max-width: 820px) {
  /* .img-slider {
    width: 600px;
    height: 375px;
  } */

  .info {
    padding: 10px 25px;
  }

  .info h2 {
    font-size: 35px;
  }

  .info p {
    width: 80%;
    font-size: 12px;
    margin-left: 50px;
  }
}

@media (max-width: 620px) {
  .info {
    padding: 10px 20px;
  }

  .info h2 {
    font-size: 30px;
  }

  .info p {
    width: 80%;
    font-size: 10px;
    margin-left: 40px;
    letter-spacing: 1px;
  }
}

@media (max-width: 420px) {
  .img-slider {
    width: 320px;
    height: 200px;
  }

  .info {
    padding: 5px 10px;
  }

  .info h2 {
    font-size: 25px;
  }

  .info p {
    width: 90%;
    font-size: 8px;
    letter-spacing: normal;
    margin-left: 10px;
  }
}

/* image cards */
.container {
  margin: 30px;
}

.row {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.image {
  background: #50a7ff;
  position: relative;
  flex: 1;
  max-width: 460px;
  height: 300px;
  margin: 20px;
  overflow: hidden;
}

.image img {
  opacity: 0.8;
  position: relative;
  width: 460px;
  height: 300px;
  vertical-align: top;
  transition: 0.6s;
  transition-property: opacity;
}

.image:hover img {
  opacity: 1;
}

.image .details {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  width: 100%;
  height: 100%;
}

.image .details h2 {
  text-align: center;
  font-size: 1.7rem;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 300;
  margin-top: 70px;
  transition: 0.4s;
  transition-property: transform;
}

.image .details h2 span {
  font-weight: 900;
  font-weight: bold;
  text-decoration: none;
}

.image:hover .details h2 {
  transform: translateY(-30px);
}

.image .details p {
  font-size: 1rem;
  text-align: center;
  opacity: 0;
  margin: 2em 0;
  padding: 0 1.5em;
  line-height: 1.4rem;
  transition: 0.6s ease;
  transition-property: opacity, transform;
}

.image:hover .details p {
  opacity: 1;
  transform: translateY(-40px);
}

.more {
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  bottom: -60px;
  transition: 0.6s ease;
  transition-property: bottom;
}

.image:hover .more {
  bottom: 0;
}

.more .read-more {
  color: #000;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}

.more .read-more span {
  font-weight: 900;
}

.more .icon-links i {
  color: #000;
  font-size: 20px;
}

.more .icon-links a:not(:last-child) i {
  margin-right: 20px;
}

.details {
  opacity: 0;
  position: relative;
}

.details::before {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  inset: 0;
}

.image:hover > .details {
  transition: 250ms ease;
  opacity: 1;
}

/* scrollbar settings */
::-webkit-scrollbar {
  width: 21px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

#Bottom {
  text-align: center;
  padding: 20px;
  color: #fff;
  margin-bottom: 50px;
}

/* theme changer  */

.themechanger {
  font-size: 25px;
  cursor: pointer;
  position: fixed;
  top: 84%;
  left: 90%;
  z-index: 90;
  transition: all 0.3s ease;
  background: rgb(219, 211, 211);
  border-radius: 25px;
  height: 50px;
  width:50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bi{
  margin-bottom: 10px;
}

.themechanger:hover {
  background: rgb(208, 197, 197);
  bottom: 6%;
  width: 55px;
  height: 55px;
  filter: blur(0.1rem);
}

/* Responsive CSS */

@media (max-width: 1080px) {
  .image {
    flex: 100%;
    max-width: 460px;
  }
}

@media (max-width: 550px) {
  .image {
    flex: 100%;
    max-width: 360px;
  }
}
@media (max-width: 480px) {
  .image {
    flex: 100%;
    max-width: 260px;
  }
}

@media (max-width: 600px) {
  .themechanger {
    font-size: 30px;
    cursor: pointer;
    position: fixed;
    top: 85%;
    left: 86%;
    z-index: 90;
    transition: all 0.3s ease;
    background: rgb(219, 211, 211);
    border-radius: 20px;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 400px) {
  .image .details p {
    font-size: 16px;
  }

  .more .read-more,
  .more .icon-links a i {
    font-size: 18px;
  }

  .themechanger {
    font-size: 50px;
    cursor: pointer;
    position: fixed;
    top: 85%;
    left: 80%;
    z-index: 90;
    transition: all 0.3s ease;
    background: rgb(219, 211, 211);
    border-radius: 20px;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
  }
}

/* Pagination  */
.pagination {
  text-align: center;
  margin: 30px 30px 60px;
  user-select: none;
}

.pagination li {
  display: inline-block;
  margin: 5px;
  box-shadow: 0 5px 25px rgb(1 1 1 / 10%);
}

.pagination li a {
  color: rgb(0, 0, 0);
  font-weight: 400;
  text-decoration: none;
  font-size: 1.2em;
  line-height: 45px;
}

.previous-page,
.next-page {
  background: #0ab1ce;
  width: 80px;
  border-radius: 45px;
  cursor: pointer;
  transition: 0.3s ease;
}

.previous-page:hover {
  transform: translateX(-5px);
}

.next-page:hover {
  transform: translateX(5px);
}

.current-page,
.dots {
  background: #ccc;
  width: 45px;
  border-radius: 50%;
  cursor: pointer;
}

.active {
  background: #0ab1ce;
}

.disable {
  background: #ccc;
}

/* Footer Section */

.footer-section {
  background: #151414;
  position: relative;
}

.copyright-area {
  background: #202020;
  padding: 2px 0;
}

.copyright-text p {
  margin: 0;
  font-size: 16px;
  color: #a0a0a0;
}

.copyright-text p a {
  color: #ff5e14;
}

/* back to button css  */
.back_to_top {
  font-size: 30px;
  cursor: pointer;
  position: fixed;
  top: 85%;
  left: 10%;
  z-index: 90;
  transition: all 0.3s ease;
  background: rgb(219, 211, 211);
  border-radius: 20px;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back_to_top:hover {
  background: rgb(208, 197, 197);
  bottom: 6%;
  width: 50px;
  height: 50px;
}

/*  a
{
  color : white;
}
.image:hover{
  transform: scale(1.15); */

a {
  color: white;
}

.contact-us {
  display: block;
  align-content: center;
}

#button-contact {
  display: block;
  position: static;
  width: fit-content;
  padding-bottom: 4%;
}

.contact-btn-text {
  vertical-align: middle;
}

#contact-form-text {
  margin-left: 3%;
  text-align: left;
  margin-right: 14%;
}

#contact-options {
  margin-left: 3%;
  text-align: left;
  margin-right: 14%;
}
